/GameCardsDev/.project
/GameCardsDev/Sld.tab
/GameCardsDev/stabs.tab
/GameCardsDev/FinalOutput
/GameCardsDev/Output
/GameCardsDev/ReleasePackages
/GameCardsDev/.cproject
/GameCardsDev/.DS_Store
/GameCardsDev/.mosyncproject
/GameCardsDev/.mosyncproject.local
/PRGCards/.project
/PRGCards/Sld.tab
/PRGCards/stabs.tab
/PRGCards/FinalOutput
/PRGCards/Output
/PRGCards/ReleasePackages
/PRGCards/.cproject
/PRGCards/.DS_Store
/PRGCards/.mosyncproject
/PRGCards/.mosyncproject.local
/Mobidex/.project
/Mobidex/Sld.tab
/Mobidex/stabs.tab
/Mobidex/FinalOutput
/Mobidex/Output
/Mobidex/ReleasePackages
/Mobidex/.cproject
/Mobidex/.DS_Store
/Mobidex/.mosyncproject.local
/Mobidex/.mosyncproject
/Phakama/.project
/Phakama/Sld.tab
/Phakama/stabs.tab
/Phakama/FinalOutput
/Phakama/Output
/Phakama/ReleasePackages
/Phakama/.cproject
/Phakama/.DS_Store
/Phakama/.mosyncproject
/Phakama/.mosyncproject.local
/TopCarCards/Sld.tab
/TopCarCards/stabs.tab
/TopCarCards/FinalOutput
/TopCarCards/Output
/TopCarCards/ReleasePackages
/TopCarCards/.cproject
/TopCarCards/.DS_Store
/TopCarCards/.mosyncproject.local
/TopCarCards/.mosyncproject
/FHM/.project
/FHM/Sld.tab
/FHM/stabs.tab
/FHM/FinalOutput
/FHM/Output
/FHM/ReleasePackages
/FHM/.cproject
/FHM/.DS_Store
/FHM/.mosyncproject
/FHM/.mosyncproject.local
