
/GameCardsDev/.project
/GameCardsDev/Sld.tab
/GameCardsDev/stabs.tab
/GameCardsDev/FinalOutput
/GameCardsDev/Output
/GameCardsDev/.cproject
/GameCardsDev/.DS_Store
/GameCardsDev/.mosyncproject
/GameCardsDev/.mosyncproject.local
/PRGCards/.project
/PRGCardsC/MoTweet.mopro
/PRGCards/Sld.tab
/PRGCards/stabs.tab
/PRGCards/FinalOutput
/PRGCards/Output
/PRGCards/.cproject
/PRGCards/.DS_Store
/PRGCards/.mosyncproject
/PRGCards/.mosyncproject.local
/Mobidex/Sld.tab
/Mobidex/stabs.tab
/Mobidex/FinalOutput
/Mobidex/Output
/Mobidex/.cproject
/Mobidex/.DS_Store
/Mobidex/.mosyncproject.local
/Mobidex/.mosyncproject